<div class="container" ng-show="can('manage')"
>
  <h1>Moderations</h1>
    <div class="well" ng-show="can('create')">
      <h3>Add a new Visitor directly</h3>
      <form ng-submit="addModeration()">
        <div class="row">
          <div class="col-xs-6">
            <input type="text" ng-model="newModeration.first_name" class="form-control" placeholder="First Name" />
          </div>
          <div class="col-xs-6">
            <input type="text" ng-model="newModeration.last_name" class="form-control" placeholder="Last Name" />
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <br />
            <input type="text" ng-model="newModeration.reason" class="form-control" placeholder="Reason for Visit" />
          </div>
        </div>

         <div class="row">

          <div class="col-xs-12">
            <br />
            <div ng-repeat="category in newModeration.category_visitors">
                <div ng-hide="category._destroy">
                    <select ng-model="category.category">
                        <option ng-repeat="x in categories" value="{{x.category_name}}">{{x.category_name}}</option>
                    </select>
                    <a ng-click="removeCategory($index, newModeration)" class="btn btn-xs btn-danger">X</a>
                     <a ng-click="addCategoryModeration()" class="btn btn-success btn-xs">+ Add category </a>
                 </div>
            </div>     
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 text-center">
            <br />
            <input type="Submit" value="Add VISITOR" class="btn btn-primary" />
          </div>
        </div>
      </form>
    </div>

    <h3>Currently Visiting</h3>
    <hr />
    <table class="table table-hover table-striped table-visitors-page" >
      <thead>
        <tr>
          <th> </th>
          <th>     First Name, Last Name, Reason</th>
          <th>Author photo</th>
          <th>Author name</th>
          <th>Category</th>


          <th ng-show="can('destroy')">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
      <tr ng-show="!moderations.length">
                                  <td colspan="4">No visitors in the building.</td>
                                </tr>

                                <tr ng-repeat="moderation in moderations" ng-show="shouldShowModeration(moderation.state)">
                               
                                    <td>
                                        <a href="#"><i class="-alt fa fa-2x fa-eye fa-fw"></i></a>
                                    </td>
                                    <td>
                                        <h4>
                                            <b>{{ moderation.first_name }} {{ moderation.last_name }}</b>
                                        </h4>
                                        <p>{{ moderation.reason }}</p>

                                      
                                        

                                    </td>
                                    <td>
                                        <img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png" class="img-circle" width="60">
                                    </td>
                                    <td>
                                        <h4>
                                            <b>{{ moderation.user.username}}</b>
                                        </h4>
                                        <a href="mailto:{{ moderation.user.email}}">{{ moderation.user.email}}</a>
                                    </td>
                                    <td>
                                        <div ng-repeat="current_category in moderation.category_visitors"> 
                                            <p>{{current_category.category}}</p>
                                        </div>
                                    </td>
                                    <td >
                                          <a  ng-show="can('create')" class="btn btn-primary btn-md"   ng-click="acceptModerationVisitor(moderation)">AcceptVisitor</a>

                                            <a ng-show="can('destroy')" class="btn btn-danger btn-md" value="left" type="button"
                                            ng-click="rejectModeration(moderation)">
                                                <i class="fa fa-fw s fa-remove"></i>Reject</></a>

                                            <a href="#!/moderations/{{moderation.id}}/edit" ng-show="can('update')" class="btn btn-md btn-info" value="right" role="button">
                                                <i class="fa fa-fw fa-cog"></i>Edit</a>
                                       
                                    </td>

                                </tr> 
      </tbody>
    </table>
</div>

<div ng-hide="can('manage')">
<h1>Moderation</h1>
<h1>Moderation</h1>

  <p>You do not have access to moderation</p>
</div>
